.circle {
  height: 250px;
  width: 250px;
  background: linear-gradient( -45deg, lightgray, lightgray 49%, lightgray 49%, darkorange 51%, darkorange 51% );
  border-radius: 50%;
  display: inline-block;
}

#display-area {
  display: flex;
  justify-content: space-between;
}

.App {
  padding: 20px 30px;
}
