.circle {
  height: 250px;
  width: 250px;
  background-color: darkorange;
  border-radius: 50%;
  display: inline-block;
}

#display-area {
  display: flex;
  justify-content: space-between;
}

.App {
  padding: 20px 30px;
}
